<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1></h1>

    

     <div id="app">

     <!--   <h1 v-if="activo=true">Holaaaaaaaa</h1>
       <button @click="activo=true">Activar</button>
       <button @click="activo=false">Desactivar</button> -->
     
       <!-- <h1>Mi nombre es: </h1>
       <input v-model="nombre" type="text"> -->

   <!--     <h1>Mi carrera es: </h1>
       <select v-model="carrera">
        <option>Ingenieria en Sistemas</option>
        <option>Ingenieria en Mecatronica</option>
        <option>Ingenieria en Logistica Internacional</option>
        <option>Ingenieria en Mantenimiento Industrial</option>
        <option>Licenciatura en Medicina</option> -->

        
        <h1>Calcula tu edad: </h1> 
        <input v-model="edad" type="number">
        <button @click="calcularedad()">Calcular</button>
        <p>{{resultado}}</p>
    
      
        

     </div>
     
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="model.js"></script>
   

</body>

</html>